body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}
#button-header {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 50px;
    background-color: #DC143C;
    color: #ffffff;
    padding: 50px;
    text-align: left;
    font-weight: normal;
    overflow: hidden;
    font-weight: normal;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}

#top-buttons {
    position: fixed;
    margin-left: 10px;
    margin-top: center;
}

#sign-in {
    position: fixed;
    margin-left: calc(100% - 300px);
    margin-top: center;
}
body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding-top: 150px;
}
#button-header {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 50px;
    background-color: #DC143C;
    color: #ffffff;
    padding: 50px;
    text-align: left;
    font-weight: normal;
    overflow: hidden;
    font-weight: normal;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}

#top-buttons {
    position: fixed;
    margin-left: 10px;
    margin-top: center;
}

#sign-in {
    position: fixed;
    margin-left: calc(100% - 300px);
    margin-top: center;
}

#table-container {
    margin-top: 150px; /* Adjust the margin-top value to your desired distance */
}

