body {
    background-size: cover;
    background-position: center;
  }
  
  
  
  .container {
      width: 100%;
      padding: 20px;
  }
  
  input[type=text],
input[type=password] {
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.261);
    width: 100%;
    margin: 5px 0 22px 0;
    display: inline-block;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.popup {
    display: none; /* Hide the popup by default */
    position: fixed; /* Position the popup */
    top: 50%; /* Center the popup vertically */
    left: 50%; /* Center the popup horizontally */
    transform: translate(-50%, -50%); /* Center the popup */
    background-color: #fefefe; /* White background */
    border: 1px solid #888; /* Border */
    z-index: 1; /* Set the z-index */
}
.popup-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
  }