body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

#header {
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: crimson;
  padding: 5px;
}

#dash {
  text-align: center;
  background-color: crimson;
  padding:-20px;
}

#app-header {
  text-align: center;
  background-color: crimson;
  color: white;
  padding: 5px;
}

#button-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #DC143C;
  color: #ffffff;
  padding: 50px;
  text-align: left;
  font-weight: normal;
  overflow: hidden;
  font-weight: normal;
  top: 0; 
  left: 0;
  z-index: 1000; 
}

#top-buttons {
  margin-left: 10px;
  margin-top: center;
}

#sign-in {
  margin-right: 10px;
  margin-top: center;
}


#dashboard-container {
  outline: 5 px crimson;
  position: relative;
  margin-top: 500px; 
}

#pet-cards-container {
  position: relative;
  margin-top: 20px;
}

#applications {
  background-color: white;
  padding: 10px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}

.applicationContainer {
  display: flex; 
  flex-wrap: wrap; 
 justify-content: flex-start;
 
}

.applicationCard {
  width: calc(33.33% - 20px); 
  background-color: white;
  border: 5px solid crimson;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.9rem;
  line-height: 1.6;
}

.card-text span {
  color: #333;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus,
.btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
  